<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jsp_easybuy</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HomepageServlet</servlet-name>
    <servlet-class>com.servlet.HomepageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectGchServlet</servlet-name>
    <servlet-class>com.servlet.SelectGchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectBookServlet</servlet-name>
    <servlet-class>com.servlet.SelectBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectGcServlet</servlet-name>
    <servlet-class>com.servlet.SelectGcServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectBrandServlet</servlet-name>
    <servlet-class>com.servlet.SelectBrandServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodViewServlet</servlet-name>
    <servlet-class>com.servlet.GoodViewServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>com.servlet.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ConselServlet</servlet-name>
    <servlet-class>com.servlet.ConselServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>com.servlet.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UdateCartServlet</servlet-name>
    <servlet-class>com.servlet.UdateCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BuyGoodServlet</servlet-name>
    <servlet-class>com.servlet.BuyGoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReceinfoServlet</servlet-name>
    <servlet-class>com.servlet.ReceinfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LookOrderServlet</servlet-name>
    <servlet-class>com.servlet.LookOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddRecServlet</servlet-name>
    <servlet-class>com.servlet.AddRecServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckCartServlet</servlet-name>
    <servlet-class>com.servlet.CheckCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductClassServlet</servlet-name>
    <servlet-class>com.servlet.ProductClassServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>com.servlet.CookieServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SeclectGoodServlet</servlet-name>
    <servlet-class>com.servlet.SeclectGoodServlet</servlet-class>
  </servlet>




















  <servlet-mapping>
    <servlet-name>HomepageServlet</servlet-name>
    <url-pattern>/HomepageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectGchServlet</servlet-name>
    <url-pattern>/SelectGchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectBookServlet</servlet-name>
    <url-pattern>/SelectBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectGcServlet</servlet-name>
    <url-pattern>/SelectGcServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectBrandServlet</servlet-name>
    <url-pattern>/SelectBrandServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodViewServlet</servlet-name>
    <url-pattern>/GoodViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/CheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConselServlet</servlet-name>
    <url-pattern>/ConselServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/ShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UdateCartServlet</servlet-name>
    <url-pattern>/UdateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyGoodServlet</servlet-name>
    <url-pattern>/BuyGoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReceinfoServlet</servlet-name>
    <url-pattern>/ReceinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LookOrderServlet</servlet-name>
    <url-pattern>/LookOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRecServlet</servlet-name>
    <url-pattern>/AddRecServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCartServlet</servlet-name>
    <url-pattern>/CheckCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductClassServlet</servlet-name>
    <url-pattern>/ProductClassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/CookieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeclectGoodServlet</servlet-name>
    <url-pattern>/SeclectGoodServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
    <!--配置中文字符过滤器  -->
  <filter>
  	<filter-name>Encoding</filter-name>
  	<filter-class>com.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>Encoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>